

    
    <% if(typeof articles != 'undefined'){ %>
        <% articles.forEach(article =>{ %>
            <div class="single-blog-post small-featured-post d-flex">
                <div class="post-thumb">
                    <a href="#"><img src="/img/bg-img/<%- article.images_src %>" alt=""></a>
                </div>
                <div class="post-data">
                    <a href="/categories-post/<%=article.category_id%>" class="post-catagory"><%- article.category_title%></a>
                    <div class="post-meta">
                        <a href="/single-post/<%=article.article_id%>" class="post-title">
                            <h6><%- article.article_title %></h6>
                        </a>
                        <p class="post-date"><%= dateAndTime.format(article.article_date, 'MMMM DD  | h:mm A') %></span></p>
                    </div>
                </div>
                
            </div>
            <% console.log("hej") %>
        <% }); %>
     <% } %>

